<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Show</title>
    <th:block th:insert="test-navbar :: headStuff"></th:block>
</head>
<body>
<!-- Navbar -->
<nav th:replace="test-navbar :: navlinks"></nav>

<div class="container">
    <div class="jumbotron d-flex justify-content-center" style="background-color: darkgreen">
        <div class="col-md-8">
            <br/>
            <br/>
            <br/>
            <div class="card" style="width: 40rem;">
                <img class="card-img-top" src="..." alt="Profile Picture">
                <div class="card-body">
<!--                    <div class="card-title" th:text="${message.sentBy}"></div>-->
                    <h4 class="card-title"> [[${message.sentBy}]]</h4>
                    <p class="card-text">You can always view your information.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Date: <h4 th:text="${message.postedDate}"></h4></li>
                    <li class="list-group-item">Your Message: <h4 th:text="${message.content}"></li>
                    <li class="list-group-item">Following:</li>
                    <li class="list-group-item">Followed By:</li>
                </ul>
                <div class="card-body">
                    <a href="http://www.twitter.com" class="card-link">twitter</a>
                    <a href="http://www.facebook.com" class="card-link">facebook</a>
                </div>
            </div>
            <br/>
            <br/>
            <br/>
        </div>
    </div>
</div>




<div th:replace="base :: footer"></div>

<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
</body>
</html>